<div class="container">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-6 col-md-offset-3">
			<form action="" method="POST" class="form-horizontal" role="form">
				<div class="form-group">
					<legend>Sign up for koreancademy</legend>
				</div>
				{{#unless signup}}
					<div class="form-group">
						<input name="email" id="email" type="email" value="{{email}}" class="form-control" placeholder="Your email" required/>
					</div>
				{{else}}
					<div class="form-group has-error">
						<input name="email" id="email" type="email" value="{{email}}" class="form-control" placeholder="Your email" required/>
						<span id="email-help" class="help-block">You have already signed up with this email. <br> Did you forget your password?</span> 
					</div>
				{{/unless}}
				<div class="form-group">
					<input name="username" id="username" type="text" {{#if username}} value="{{username}}" {{/if}} class="form-control" placeholder="Your username" required/>
				</div>
				{{#neither pwlength common_pw}}
					<div class="form-group">
						<input name="password" id="password" type="password" class="form-control" placeholder="Your password"required/>
					</div>
				{{else}}
					<div class="form-group has-error">
						<input name="password" id="password" type="password" class="form-control" placeholder="Your password"required/>
						{{#with pwlength}}<span id="pw-help1" class="help-block">Password is too short. <b>It should at least 8 characters.</b></span>{{/with}}
						{{#with common_pw}}<span id="pw-help2" class="help-block"> Your password is one of the most frequently used password. <b> Please change it for your safety.</b></span>{{/with}}
					</div>
				{{/neither}}
					<div class="form-group">
						<button type="submit" class="btn btn-primary btn-lg btn-block">Create Account</button>
					</div>

					<div>
						By signing up, you agree to our Terms of Service and Privacy Policy. 
					</div>
			</form>
		</div>
	</div>
</div>

